<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Complete Test Suite" parallel="false">
    
    <!-- Login & Logout Tests -->
    <test name="Login Tests">
        <classes>
            <class name="testcases.LoginTest"/>
        </classes>
    </test>
    
    <test name="Logout Tests">
        <classes>
            <class name="testcases.LogoutTest"/>
        </classes>
    </test>
    
    <!-- Invoice Edit Tests -->
    <test name="Invoice Edit Tests">
        <classes>
            <class name="testcases.InvoiceEditTest"/>
        </classes>
    </test>
    
    <!-- Invoice Delete Tests -->
    <test name="Invoice Delete Tests">
        <classes>
            <class name="testcases.InvoiceDeleteTest"/>
        </classes>
    </test>
    
    <!-- Invoice Create Tests -->
    <test name="Invoice Create Tests">
        <classes>
            <class name="testcases.InvoiceCreateTest"/>
        </classes>
    </test>
    
    <!-- Invoice Search Tests -->
    <test name="Invoice Search Tests">
        <classes>
            <class name="testcases.InvoiceSearchTest"/>
        </classes>
    </test>
    
</suite>
